---
import Layout from "../components/Layout.astro";
---

<Layout title="My Journey">

  <div class="about-section">
    <h1>About Me</h1>
    <p>
      I am from Nittedal in Norway, currently in my 2nd year studying Informatics: Computer Technology in Bergen.
      <p></p>
      Here is a recap of my most recent years!
    </p>
  </div>

  <div class="timeline-section">

    <!-- Year 2024 -->
    <section class="year-section">
      <div class="year-content">
        <h2>2024</h2>
        <hr>
        <p>This year, I began my 2nd semester of university studying Informatics: Computer Technology after an internal transfer from Cognitive Science, which I made one semester into my studies. 
          I’m very satisfied with this decision, as Computer Technology aligns much better with my interests and career goals. The spring exams in my new field of study 
          went well, and I was thrilled to achieve top grades on all of my exams! After a summer spent traveling across Spain and working at Posten, I have now started my third semester at university.</p>
        
          <p>This fall, I’ve really settled down in Bergen. I got a job as a student assistant in Innføring i Programmering, where I teach programming fundamentals 
            using Python, and I also joined the student organization friByte. At friByte, we offer IT and web services to other student organizations in Bergen. I’ve gained 
            valuable hands-on experience that complements my studies perfectly. While university provides the theoretical foundation, I believe that working on projects at friByte 
            gives me a real-world perspective on how to apply technology in practice. It’s been a great way to bridge the gap between academia and the professional world. 
            Otherwise, I’m currently preparing for the upcoming exam season and looking forward to the Christmas break!</p>
          
        
      </div>
      <img src="/photo_year/2024.jpg" alt="Description of 2024 image" class="year-image" />
    </section>

    <!-- Year 2023 -->
    <section class="year-section">
      <div class="year-content">
        <h2>2023</h2>
        <hr>
          <p>At the start of 2023, I took a break after completing a year of compulsory service in the Norwegian Armed Forces. During this time, I spent a lot of time in the mountains and developed 
            a passion for XC skiing. I skied all over Lillomarka and Nordmarka, visiting most of the "markastuene" near Oslo. After trying most of them, I can confidently say that Sinober Sportsstue has the best buns!</p>

          <p>On March 1st, I started working at Equipo, a small lift and construction machine rental company with only two other employees. This job was incredibly rewarding, filled with challenges and responsibilities. 
            There was plenty of heavy machinery to maintain at Equipo, and I learned a lot by handling new issues daily. Although I really enjoyed my time at Equipo, I decided to start university in the fall, which was a tough decision but one I am happy I made.</p>

          <p>I began my bachelor’s degree in Cognitive Science at the University of Bergen in fall 2023. Moving to Bergen was a big decision for me, but one I´m very happy with. I was attracted to the vibrant student life and the mountains surrounding the city, 
            and Bergen has absolutely lived up to the hype! The variety of exciting courses and the oppportunity to specialize in Information Technology or Informatics drew me to Cognitive Science. 
            However, I soon realized that Informatics was my true passion. I applied for an internal transfer to Computer Technology and was fortunate to be approved to start in the second semester without losing a year of study.</p>

      </div>
      <img src="/photo_year/2023.png" alt="Description of 2023 image" class="year-image" />
    </section>

    <!-- Year 2022 -->
    <section class="year-section">
      <div class="year-content">
        <h2>2022</h2>
        <hr>
        <p>I spent the entirety of 2022 in Skjold Camp, Indre Troms, doing my year of Compulsory Service in the Norwegian Army. I served as a Machine Gunner in the 2nd Battalion, handling an M2 Browning, 
          also known as "12.7 Mitraljøse" mounted on top of a belt wagon. This year was one of personal growth, spent mostly outdoors in rough conditions.<p/>
          
          <p>A typical week involved preparing equipment on Monday, field exercises from Tuesday to Thursday, and maintenance on Friday. There were also many non-typical weeks, including extended exercises 
            in the field. Despite the challenges, I appreciated getting to serve in the army, I especially miss the physical activities like marching and shooting!</p>
      </div>
      <img src="/photo_year/2022.jpg" alt="Description of 2022 image" class="year-image" />
    </section>

    <!-- Year 2021 -->
    <section class="year-section">
      <div class="year-content">
        <h2>2021</h2>
        <hr>
        <p>In 2021, I got my first job at Pizzabakeren. It was a great first job, where I gained experience as a pizza chef, delivery driver, and cashier. In June, I graduated from high school, 
          completing 13 years of schooling! I continued working at Pizzabakeren over the summer but started a new job in September at Posten's Østlandsterminalen warehouse as I wanted to transition 
          to daytime shifts, which wasn't possible at Pizzabakeren.</p> 
          <p>Working at Posten was a good experience, allowing me to work in a professional setting as a 19-year-old while meeting colleagues 
          from all walks of life. The rest of the fall was spent working, running, and lifting weights in preparation for my military service, which started in January 2022.</p>
      </div>
      <img src="/photo_year/2021.jpg" alt="Description of 2021 image" class="year-image" />
    </section>
  </div>

  <!-- Photo Gallery at the Bottom -->
  <div class="gallery-section">
    <h1>Photo Gallery</h1>
    <div class="gallery">
      <img src="/gallery/1.jpg" alt="Description 1" class="gallery-item" />
      <img src="/gallery/2.jpg" alt="Description 2" class="gallery-item" />
      <img src="/gallery/3.jpg" alt="Description 3" class="gallery-item" />
      <img src="/gallery/4.jpg" alt="Description 4" class="gallery-item" />
      <img src="/gallery/5.jpg" alt="Description 5" class="gallery-item" />
      <img src="/gallery/6.jpg" alt="Description 6" class="gallery-item" />
      <img src="/gallery/7.jpg" alt="Description 7" class="gallery-item" />
      <img src="/gallery/8.jpg" alt="Description 8" class="gallery-item" />
      <img src="/gallery/9.jpg" alt="Description 9" class="gallery-item" />
    </div>
  </div>
</Layout>

<style>

  h2 {
    font-size: 3rem;
    color: #5DD5FF;
  }
  .timeline-section {
    margin: 2rem 0;
    max-width: 900px;
    margin: auto;
  }

  .year-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin-bottom: 2rem;
}

  .year-content {
      margin-bottom: 1rem;
  }

  .year-image {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

  .gallery-section {
    margin: 6rem 0; 
    text-align: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem; 
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }

  .gallery-item {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .gallery-item:hover {
    transform: scale(1.05);
  }
</style>
