<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/projects">Projects</a>
  <a href="https://www.linkedin.com/in/martin-s-pedersen/" target="_blank">LinkedIn</a>
  <a href="https://github.com/martinstyve" target="_blank">GitHub</a>
  <a href="https://git.app.uib.no/Martin.Pedersen1" target="_blank">GitLab</a>
  <a href="https://www.instagram.com/martinstyve/" target="_blank">Instagram</a>
  <a href="https://www.strava.com/athletes/44441097" target="_blank">Strava</a>
</nav>

<style>
  nav {
  display: flex;
  flex-wrap: nowrap; 
  overflow-x: auto;
  padding: 1rem;
  background: #2c2f3a;
  align-items: center;
  justify-content: center;
}

nav::-webkit-scrollbar {
  height: 8px;
}

nav::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px; 
}

a {
  color: #f1f1f1;
  text-decoration: none;
  padding: 0.5rem;
  white-space: nowrap; 
}

a:hover {
  color: #4D90FE;
}

</style>