---
import Layout from "../../components/Layout.astro";
---

<Layout title="Statistics for Strava">
  <section class="project-section">
    <h1>Statistics for Strava</h1>
    <img src="/project_photos/statistics-for-strava.png" alt="screenshot of website" class="large-project-image" />
    <div class="project-description">
      <p>
        Self-hosted analysis page for my strava activities. Publicly available on <a href="https://strava.martinstyve.no/" target="_blank">strava.martinstyve.no</a>
      </p>
      <p>
        Playing around with activity data using the Strava API has been a long-running (pun intended) side project for me, but creating a usable analytics platform
        from scratch always felt too large to complete. So when I stumbled upon the open-source project <a href="https://github.com/robiningelbrecht/statistics-for-strava" target="_blank">github.com/robiningelbrecht/statistics-for-strava</a>,
        I decided to give it a shot. Having some, but not enough experience with Docker, I was excited to set up a Docker environment on my server to run this application and access it through the web.
        I have done some local development to get a feel for how to work on larger projects, and because I wanted to do some minor adjustments, which helped me understand how the project is set up.
      </p>
    </div>
  </section>
</Layout>


<style>
  .project-section {
    padding: 4rem 1rem;
    background-color: #1e1e24;
    color: #f1f1f1;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #5DD5FF;
  }

  p {
    font-size: 1rem;
    color: #c4c4c4;
    margin-bottom: 1rem;
  }

  a {
  color: #1e90ff; /* Standard blue color */
  text-decoration: underline;
}

a:hover {
  color: #63b3ff; /* Lighter blue on hover */
  text-decoration: underline;
}

  .large-project-image {
    width: 100%; 
    height: auto;
    max-width: 400px;
    border-radius: 8px; 
    margin-bottom: 2rem; 
  }

  .project-description {
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }

  .project-links {
    display: flex;
    justify-content: center;
    gap: 2rem; /* Space between the logos */
  }

  .logo-link {
    width: 80px; /* Adjust the logo size */
    height: auto;
    transition: transform 0.3s ease;
  }

  .logo-link:hover {
    filter: opacity(0.8) drop-shadow(0 0 10px #5DD5FF);
    transform: scale(1.1); /* Scale up the logo on hover */
  }

  @media (max-width: 768px) {
    .large-project-image {
      max-width: 100%; /* Allow the image to be responsive */
    }

    .project-section {
      padding: 2rem 1rem; /* Adjust padding for smaller screens */
    }
  }
</style>
